<!DOCTYPE html>
<html>
  <head>
    <title>T20WC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center"
          href="#">
          <img src="images/logo.png" alt="logo" width="50">
          <span class="ms-1 text-light">CRIC BRICKS </span>
        </a> <button class="navbar-toggler" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <%= link_to "List Teams", teams_path, class:
              "nav-link active"%>
            </li>
            <li class="nav-item">
              <%= link_to "Add team", new_team_path, class:
              "nav-link "%>
            </li>
            <li class="nav-item">
              <%= link_to "List Players", players_path, class:
              "nav-link "%>
            </li>
            <li class="nav-item">
              <%= link_to "Add Player", new_player_path, class:
              "nav-link "%>
            </li>

          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search"
              aria-label="Search">
            <button class="btn btn-outline-success"
              type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <%= yield %>
    <%= javascript_importmap_tags %>

  </body>
</html>
